<script type="text/template" id="sb_registerModalBody_template">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><%- title %></h4>
            </div>
            <div class="modal-body">
                <p><%- message %></p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="<%- link %>">Go to main</a>
            </div>
        </div>
    </div> 
</script>

